body {
	background-color: #100e17;
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: absolute;
	top: 90px;
	left: calc(50vh);
	display: flex;
}

.card {
	display: flex;
	height: 280px;
	width: 200px;
	background-color: #17141d;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card:not(:first-child) {
	margin-left: -50px;
}

.card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
	background-color: #282332;
}

.card:hover ~ .card {
	position: relative;
	left: 60px;
	transition: 0.4s ease-out;
}

.title {
	color: white;
	font-weight: 300;
	position: absolute;
	left: 20px;
	top: 15px;
}

@media screen and (max-width: 600px) {
	* {
		scrollbar-width: none;
		overflow: hidden;
	}
	::-webkit-scrollbar {
		display: none;
	}

	.container {
		left: calc(25vw);
		flex-direction: column;
	}
	.card:not(:first-child) {
		margin-left: 0px;
	}

	.card:hover {
		transform: translateY(-40px);
	}

	.card:hover ~ .card {
		left: 0px;
		bottom: 30px;
	}
}
