/* Bleu */
svg > path:nth-child(1) {
	fill: var(--portfolio-page-light);
}
svg > path:nth-child(2) {
	fill: var(--portfolio-page-dark);
}

nav div a:hover,
#selected {
	background: linear-gradient(
		60deg,
		var(--portfolio-page-dark) 70%,
		var(--portfolio-page-light) 100%
	);
	color: white;
}

/* carousel */
body {
	background-color: #100e17;
	font-family: 'Open Sans', sans-serif;
}

.card-container {
	/* position: relative; */
	top: 30vh;
	/* left: calc(50vh); */
	display: flex;
	width: 100%;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	width: 400px;
	background-color: var(--portfolio-page-dark2);
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card-content {
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	border: 10px;
	border: var(--portfolio-page-light) 3px solid;
}
.card-content img {
	width: 95%;
}

.card-content p {
	color: white;
	text-align: center;
}

.card:not(:first-child) {
	margin-left: -50px;
}

.card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
	background-color: var(--portfolio-page-dark);
}

.card:hover ~ .card {
	position: relative;
	left: 60px;
	transition: 0.4s ease-out;
}

.title {
	color: white;
	font-weight: 300;
	position: absolute;
	left: 20px;
	top: 15px;
}

@media screen and (max-width: 600px) {
	.card-container {
		left: calc(25vw);
		flex-direction: column;
	}
	.card:not(:first-child) {
		margin-left: 0px;
	}

	.card:hover {
		transform: translateY(-40px);
	}

	.card:hover ~ .card {
		left: 0px;
		bottom: 30px;
	}
}
