/* vert */
svg > path:nth-child(1) {
	fill: var(--about-page-light);
}
svg > path:nth-child(2) {
	fill: var(--about-page-dark);
}

nav .navbar a:hover,
#selected {
	background: linear-gradient(
		60deg,
		var(--about-page-dark) 70%,
		var(--about-page-light) 100%
	);
	color: white;
}
